@font-face {
    font-family: "flaticon_buildnox";
    src: url("../fonts/flaticon_buildnox.ttf") format("truetype"),
url("../fonts/flaticon_buildnox.woff") format("woff"),
url("../fonts/flaticon_buildnox.woff2") format("woff2"),
url("../fonts/flaticon_buildnox.eot") format("embedded-opentype"),
url("../fonts/flaticon_buildnox.svg") format("svg");
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: flaticon_buildnox !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-sketch:before {
    content: "\f101";
}
.flaticon-construction:before {
    content: "\f102";
}
.flaticon-roof:before {
    content: "\f103";
}
.flaticon-interior-design:before {
    content: "\f104";
}
.flaticon-maintenance:before {
    content: "\f105";
}
.flaticon-renovation:before {
    content: "\f106";
}
.flaticon-remodeling:before {
    content: "\f107";
}
.flaticon-engineer:before {
    content: "\f108";
}
.flaticon-trowel:before {
    content: "\f109";
}
.flaticon-worker:before {
    content: "\f10a";
}
.flaticon-guarantee:before {
    content: "\f10b";
}
.flaticon-folder-management:before {
    content: "\f10c";
}
.flaticon-quotation:before {
    content: "\f10d";
}
.flaticon-zoom:before {
    content: "\f10e";
}
.flaticon-link:before {
    content: "\f10f";
}
.flaticon-share:before {
    content: "\f110";
}
.flaticon-worker-1:before {
    content: "\f111";
}
.flaticon-building:before {
    content: "\f112";
}
.flaticon-skyscrapers:before {
    content: "\f113";
}
.flaticon-building-1:before {
    content: "\f114";
}
.flaticon-budget:before {
    content: "\f115";
}
.flaticon-newspaper:before {
    content: "\f116";
}
.flaticon-telephone:before {
    content: "\f117";
}
.flaticon-blueprint:before {
    content: "\f118";
}
.flaticon-interior-design-1:before {
    content: "\f119";
}
.flaticon-architecture:before {
    content: "\f11a";
}
.flaticon-planning:before {
    content: "\f11b";
}
.flaticon-check-list:before {
    content: "\f11c";
}
.flaticon-measure:before {
    content: "\f11d";
}
.flaticon-cube:before {
    content: "\f11e";
}
.flaticon-engineer-1:before {
    content: "\f11f";
}
.flaticon-apartment:before {
    content: "\f120";
}
.flaticon-back-button:before {
    content: "\f121";
}
.flaticon-right:before {
    content: "\f122";
}
.flaticon-right-1:before {
    content: "\f123";
}
.flaticon-check-mark:before {
    content: "\f124";
}
.flaticon-search:before {
    content: "\f125";
}
.flaticon-close-circular-button-symbol:before {
    content: "\f126";
}
.flaticon-menu:before {
    content: "\f127";
}
.flaticon-left-arrow-line-symbol:before {
    content: "\f128";
}
.flaticon-right-arrow-angle:before {
    content: "\f129";
}
.flaticon-checkmark-verify-interface-symbol-button:before {
    content: "\f12a";
}
.flaticon-recycling-bin:before {
    content: "\f12b";
}
.flaticon-magnifying-glass:before {
    content: "\f12c";
}
.flaticon-play-button:before {
    content: "\f12d";
}
.flaticon-magnifiying-glass:before {
    content: "\f12e";
}
.flaticon-fast-forward:before {
    content: "\f12f";
}

.flaticon-next:before {
    content: "\f130";
}
.flaticon-right-arrow:before {
    content: "\f131";
}
.flaticon-right-arrow-1:before {
    content: "\f132";
}
.flaticon-checkmark:before {
    content: "\f133";
}
.flaticon-comment:before {
    content: "\f134";
}
.flaticon-next-1:before {
    content: "\f135";
}
.flaticon-back:before {
    content: "\f136";
}
.flaticon-plus:before {
    content: "\f137";
}
.flaticon-minus:before {
    content: "\f138";
}
.flaticon-cancel:before {
    content: "\f139";
}
.flaticon-map:before {
    content: "\f13a";
}
.flaticon-telephone-1:before {
    content: "\f13b";
}
.flaticon-message:before {
    content: "\f13c";
}
.flaticon-right-arrow-2:before {
    content: "\f13d";
}
